@font-face {
  font-family: "LinBio";
  src: url(../assets/fonts/LinBiolinum_RB.ttf);
}

body {
	margin: 0;
}

table {
	margin: 0;
	padding: 0;
	border-color: red;
	border-collapse: collapse;
	position: fixed;
}

tr, td {
	margin: 0;
	padding: 0;
	max-height: 270px;
	vertical-align: top;
}

.card {
	position: relative;
	top: 0;
	display: block;
	width: 180px;
	height: 180px;
	font-size: 12px;
	background-color: gray;
	margin: 0px;
	padding: 1px 4px;
	border-radius: 8px;
	border: 2px solid white;
	float: left;
	transition: height 0.2s cubic-bezier(0,0.5,0.5,1) 0s;
	font-family: LinBio;
}

.card:hover {
	/*transition: height 0.2s linear 0s;*/
}

.card:hover .desctext {
	transition: opacity 0.2s linear 0s;

}

.named {
	font-weight: 2px;
	font-size: 20px;
	height: 26px;
	float: left;
}

.price {
	position: absolute;
	right: 6px;
	font-weight: 2px;
	font-size: 20px;
	height: 26px;
	float: right;
}

.image {
	position: absolute;
	top: 30px;
	width: 165px;
	height: 120px;
	color: white;
	background-color: pink;
	margin-right: 7px;
	font-weight: 2px;
	font-size: 20px;
}

.description {
	position: static;
	font-size: 12px;
	width: 100%;
}

.flavor {
	position: static;
	font-style: oblique;
	font-size: 12px;
	padding-left: 0px;
	width: 100%;
	float: left;
}

.stats {
	position: absolute;
	bottom: 6px;
	font-size: 12px;
	height: 16px;
	width: 100%;
}

.desctext {
	position: absolute;
	top: 152px;
	height: 104px;
	width: auto;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.2s linear 0s;
}

.power {
	position: absolute;
	left: 6px;
	text-align: left;
	float: left;
	width: auto;
}

.vigor {
	position: absolute;
	right: 16px;
	text-align: right;
	float: right;
	width: auto;
}